$header-color: #d4d5d7;
$main-title-color: #3b3b3b;
$main-color:   #789084;
$hover-color: #b1e8ca;
$opacity-color: rgba(17,17,17,0.8);

.select {
	width: 90%;
	display: flex;
	flex-direction: column;
	position: relative;

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		background-color: #fff;

		position: absolute;
		left: 0;
		top: 100%;
		z-index: 10;
	}

	&__value-box {
        position: relative;
		border: 1px solid #eee;
		border-radius: 3px;
		padding: 0.5rem;
	}

	&__item {
		display: flex;
		padding: 0.5rem;
		cursor: pointer;
		&:hover {
			background-color: #eee;
		}
	}

	&__input {
        border: none;
        background: none;

		width: 100%;
		&:focus {
			outline: none;
		}
	}
}